<!DOCTYPE html>
<html>
<head>
	<title>Reddit Flair Detector</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Header -->
	<header>
		
		<center><img src="static/header.png" style = "width: 739px;height: 280px"  class="img-fluid" alt="Responsive image"></center>
        <br/>
	
	</div>
  </header>
  <!-- ./Header -->

    <div class="container">
<form action="{{ url_for('predict')}}" method="POST">
  <div class="form-group">
    <textarea name="comment" required placeholder="Enter r/India URL" rows="1" cols="50" class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>

 <center><button type="submit" style ="background: #FF4300;border: #FF4300;width:150px;height: 50px" class="btn btn-primary" href="single_comment">Detect Flair</button></center>
</form>
</div>

<br/>

<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="mailto:ramanshg29@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/ramanshgrover/"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ramanshgrover"><i class="fa fa-linkedin"></i></a></li>
						
					</ul>
				</div>
				<hr>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<br>
          <p class="h6">© 2020 | Ramansh Grover</p>
          <br>
				</div>
				<hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->

</body>
</html>
